* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 242, 245);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 17%;
  padding-top: 30px;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
  margin-bottom: 30px;
}

.wrapper {
  background-color: #fff;
  width: 90%;
  border: 2px solid #000;
  padding: 8px;
  align-self: center;
  border-radius: 10px;
}

.scores-container {
  width: 90%;
  display: flex;
  margin: 30px;
}

.scores {
  width: 50%;
}

.scores-header {
  display: flex;
  margin-bottom: 10px;
}

.scores-header h2 {
  color: red;
  flex-grow: 1;
  font-size: 30px;
}

form button {
  padding: 5px;
  width: 30%;
  margin-left: 68%;
  font-weight: bold;
  font-size: 18px;
}

.scores-header button {
  padding: 5px;
  width: 30%;
  font-weight: bold;
  font-size: 18px;
}

.scores-form {
  width: 50%;
  margin-left: 20px;
}

.scores-form h2 {
  color: red;
  margin-bottom: 10px;
  font-size: 30px;
}

form {
  background-color: #fff;
  border: 2px solid #000;
  padding: 6px;
}

.scores-form form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}

button:focus {
  transform: scale(0.7);
}

button:hover {
  background-color: rgb(145, 115, 115);
}

ul {
  background-color: #fff;
  border: 2px solid black;
  list-style: none;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}

li:hover {
  transform: scaleY(0.9);
  font-size: 20px;
}

li:nth-child(odd) {
  background-color: rgb(207, 202, 202);
}

input::placeholder {
  color: rgb(37, 36, 36);
  font-size: 18px;
}
